.skills-container {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills-list li {
  margin: 10px;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
}

.skills-list li:hover {
  transform: scale(1.1);
}

.skills-list li svg {
  margin-right: 10px;
}
